{% extends '::base.html.twig' %}

{% block left_menu -%}
    {% include 'CanalTPSamCoreBundle:Client:left_menu.html.twig' %}
{% endblock %}

{% block main_content %}

    <h1>{{ title|trans }}</h1>
    <hr/>


    {{ form_start(form, { 'style': 'horizontal' }) }}
        {{ form_row(form.name) }}

        {% if (logoPath is not empty) %}
            <p><img src="{{ logoPath }}" class="logo-client-medium" alt="{{ client.name }} logo"/></p>
        {% endif %}
        {{ form_row(form.file) }}

        {{ form_row(form.navitiaToken) }}

        {{ form_row(form.applications) }}

        <div class="form-group row">
        {{ form_label(form.perimeters) }}
            <div class="col-lg-10 perimeters" data-prototype="{{ form_widget(form.perimeters.vars.prototype)|e }}">
            {% for perimeter in form.perimeters %}
                <div class="form-group row">
                    {% for field in perimeter %}
                        <div class="col-xs-4">
                            {{ form_widget(field, { 'attr': {'placeholder': field.vars.label } }) }}
                            {{ form_errors(field) }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
        </div>

        {{ form_widget(form._token) }}
        <button type="submit" class="btn btn-default">{{ 'form.save'|trans }}</button>

    {{ form_end(form) }}
    <hr/>

    <script>
        require(['sam/form/perimeter'], function(perimeterForm){
            perimeterForm.init();
        });
    </script>

{% endblock %}
